doctype 5
html
  head
    script(src='socket.io/socket.io.js')    
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
    script(src='/js/game.js')
    link(href='/css/index.css', type='text/css', rel='stylesheet')
    title Referring Expressions Game
  body
    iframe#fromFile(src='inputFileNew.txt', onload='loadFile();', style='display: none;')
    p#directions
    h2#expression
    #rightWrong
    img#mainImage
    #dotContainer
    #scoreDisplay
    #container
      input#textBox(type='text', onkeydown='if (event.keyCode == 13) enterText();')
    #containerButton
      input#submitButton(type='button', value='Submit', onclick='submitClick();')  